.custom-video .title-wrapper{
    color: var(--Content-Base-primary, #111827);
    font-family: Minakoe;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: -1.26px;
    text-transform: capitalize;
    text-align: center;
}
.custom-video .deferred-media__poster-button {
    height: auto;
    width: auto;
    /* z-index: -1; */
}
.deferred-media__poster-button {
    background-color: inherit !important;
}
.custom-video .video-section__media {
    position: relative;
}
.custom-video .icon--wrapper {
    position: absolute;
    width: max-content;
    transform: translate(-96px,-96px);
    /* z-index: 2; */
}
.custom-video .icon--wrapper.top {
    top: 0;
    left: 0;
}
.custom-video .icon--wrapper.bottom {
    bottom: 0;
    right: 0;
}
.custom-video .icon--wrapper svg {
    position: absolute;
}
@media (min-width: 768px) and (max-width: 1500px) {
  .custom-video .icon--wrapper svg {
      height: 10rem;
      width: 10rem;
  }  
  .video-section__media video {
    border-radius: 50px 0;
  }  
  .custom-video .icon--wrapper {
      transform: translate(-50px,-50px);
  }  
}

@media (max-width: 768px){
  .custom-video {
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
  }
  .video-section__media.deferred-media{
    --ratio-percent: 80% !important;
  }
  .custom-video .icon--wrapper svg {
      height: 128px;
      width: 128px;
  }
  .custom-video .icon--wrapper{
    transform: translate(-64px, -64px);
  }
}